
#include "BasicConfig.xcconfig"

//添加预处理宏
GCC_PREPROCESSOR_DEFINITIONS = $(UC_PRE_DEFINE_MARCO) "NDEBUG=1" NS_BLOCK_ASSERTIONS 




//是否进行符号表切割或隐藏
DEPLOYMENT_POSTPROCESSING = NO
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
STRIP_STYLE = all

//CPU优化等级
GCC_OPTIMIZATION_LEVEL = 3
