#include "BasicConfig.xcconfig"


//添加预处理宏
GCC_PREPROCESSOR_DEFINITIONS = $(UC_PRE_DEFINE_MARCO) "DEBUG=1" "_DEBUG=1"




//是否进行符号表切割或隐藏
//其实只要 DEPLOYMENT_POSTPROCESSING 为 NO,剩余项都没作用
DEPLOYMENT_POSTPROCESSING = NO
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
STRIP_STYLE = debugging

//CPU优化等级
GCC_OPTIMIZATION_LEVEL = 0


