//
//  BasicConfig.xcconfig
//  PublicModule
//
//  Created by LiangJin on 13-8-6.
//
//
//#include "../../../../Custom.xcconfig"
///编译的CPU架构
ARCHS = armv7

///有效的CPU架构
VALID_ARCHS = armv6 armv7 armv7s i386 arm64

IPHONEOS_DEPLOYMENT_TARGET = 4.3

//编译的targe ,  1,2 代表 ipad和iphone
TARGETED_DEVICE_FAMILY = 1,2


///C/C++ 的编译标准
GCC_C_LANGUAGE_STANDARD = c99
CLANG_CXX_LANGUAGE_STANDARD = gnu++98
CLANG_CXX_LIBRARY = libstdc++

///只生成当前架构
ONLY_ACTIVE_ARCH = YES

///使用预编译头文件
GCC_PRECOMPILE_PREFIX_HEADER = YES




